.about h1 {
  position: relative;
  display: inline-block;
}
.about h1::after {
  content: "";
  background-color: red;
  width: 150px;
  height: 3px;
  position: absolute;
  top: 50px;
  right: 0px;
}
